@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class for rainbow gradient border */
.rainbow-border {
    border: 4px solid transparent; /* Set a solid border width */
    border-radius: 8px; /* Apply border-radius */
    border-image: linear-gradient(to right, blue, indigo, violet) 1; /* Apply rainbow gradient */
  }
  